<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Media Viewer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      * {
        padding: 0;
        margin: 0;
      }
      html {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: scroll;
        overflow-x: hidden;
      }
      ::-webkit-scrollbar {
        width: 0; /* Remove scrollbar space */
        background: transparent; /* Optional: just make scrollbar invisible */
      }
      img,
      audio,
      video,
      iframe,
      model-viewer {
        width: 100vw;
        object-fit: cover;
        display: block;
        border: none;
      }

      body {
        display: 'flex';
        justify-content: 'center';
        align-items: 'center';
      }
    </style>
  </head>
  <body>
    <p style="height: 1px; opacity: 0">loading</p>
  </body>
</html>
